# Frontend Variables
API_BASE_URL=http://127.0.0.1:8000
AUTH_AUTHORITY=http://127.0.0.1:8001/o
AUTH_CLIENT_ID=your-project-id
AUTH_REDIRECT_URI=http://localhost:8080/index.html
AUTH_POST_LOGOUT_URI=http://localhost:8080/index.html
