DEBUG=False
SECRET_KEY="your-secret-key"
ALLOWED_HOSTS=localhost,127.0.0.1
INTROSPECTION_URL="http://auth-app:8001/o/introspect/"
INTROSPECTION_ID="your-project-id"
INTROSPECTION_SECRET="your-project-secret"

MARIADB_DATABASE=resource_db
MARIADB_USER=admin
MARIADB_PASSWORD=mariadb-password
MARIADB_ROOT_PASSWORD=mariadb-root-password

DB_NAME=resource_db
DB_USER=admin
DB_PASSWORD=mariadb-password
DB_HOST=mariadb-root-password
DB_PORT=3306