DEBUG=False
SECRET_KEY="your-secret-key"
ALLOWED_HOSTS=localhost,127.0.0.1
INTROSPECTION_URL="http://auth-app:8001/o/introspect/"
INTROSPECTION_ID="your-project-id"
INTROSPECTION_SECRET="your-project-secret"