DEBUG=True
OAUTHLIB_INSECURE_TRANSPORT=0
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
OIDC_RSA_PRIVATE_KEY_PATH=private.pem

POSTGRES_DB=auth_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres-password

DB_NAME=auth_db
DB_USER=admin
DB_PASSWORD=postgres-password
DB_HOST=auth_db
DB_PORT=5432